body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	height: 60px;
	top: 0;
	width: 100%;
	background-color: #fff;
	border-bottom:1px solid #eee;
	z-index: 999;
}
header a {
	padding:0 20px;
	margin-top: 15px;
	display: inline-block;
}
section.sec1, section.sec2, section.sec3 {
	width: 100%;
	height: calc(100vh - 60px);
	background-color: #eee;
	padding: 0 30px;
}
section.sec1 {
	margin-top: 60px;
}
section.sec2 {
	background-color: #ddd;
}
section.sec3 {
	background-color: #eee;
}
section:focus {
outline-style:none;
box-shadow:none;
border-color:transparent;
}
.block {
	max-width: 1440px;
	min-width: 800px;
	margin: 0 auto;
	padding: 100px 32px;
}
.message {
	width: 55%;
	display: inline-block;
	vertical-align: top;
}
.image {
	width: 40%;
	background-color: #fff;
	height: 400px;
	display: inline-block;
}
h1 {
	font-size: 48px;
	font-weight: 300;
	line-height: 1.1;
	margin: 30px 0;
}

p.subheader {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.1;
}

p.copy {
	max-width: 500px;
}
